<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<ul>
    <li><a href="/">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/admin">Admin</a></li>
</ul>

</body>
</html>
